-i https://pypi.org/simple/
click==7.0
cycler==0.10.0
gensim==3.8.0
kiwisolver==1.3.1
matplotlib==3.1.1
numpy==1.19.5
pseq==0.1.3
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.4
six==1.16.0
smart-open==5.1.0
terminaltables==3.1.0
urllib3==1.26.5
